*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  text-align: center;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

h3 {
  color: #1363de;
}

p {
  color: black;
}

/* Headings */

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  line-height: 1.5;
  font-weight: 900;
  padding-top: 15rem;
  padding-left: 8rem;
  padding-right: 4rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* .container-fluid {
  padding: 3% 15% 7%;
} */

#title {
  /* background-color: #4b79a1 ; */
  /* background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #4b79a1 0%,
    #c0c0c0 100.2%
  ); */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.5),
      rgba(40, 180, 133, 0.5)
    ),
    url("../images/tyler-shaw-BP1Q3Ib_Pyo-unsplash.jpg");
  background-size: cover;

  color: whitesmoke;
  text-align: left;
  height: 100vh;
}

/* Navigation Bar */

.navbar {
  /* padding: 0 0 4.5rem; */
  background-color: whitesmoke;

  top: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  height: 125px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1363de !important;
  text-transform: uppercase;
}

.nav-text {
  color: #55c57a;
}
/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 170%;
  margin-top: 0px;
  padding-right: 160px;
}

/* icons */

.icons {
  color: #55c57a;
  /* text-align: center; */
  margin-bottom: 1rem;
}

.icons:hover {
  color: #55c57a;
}

/* Feature Sections */

#features {
  padding: 7% 15%;
  background-color: whitesmoke;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
  color: #1363de;
}

.feature-box {
  padding: 5%;
}

/* Testimonial Section */

#testimonials {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #7ed56f 0%,
    #28b485 100.2%
  );
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  /* border-radius: 50%;
  width:40%;
  margin: 20px; */

  /* background: 50% 50% no-repeat; /* 50% 50% centers image in div 
  width: 250px;
  height: 250px; */

  width: 700px;
  height: 300px;
  position: relative;
  overflow: hidden;
  /* border-radius: 50%; */
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #7ed56f 0%,
    #28b485 100.2%
  );
  /* background-color: #06283D; */
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #7ed56f 0%,
    #28b485 100.2%
  );
}

.price-heading {
  color: white;
}

.price-sub {
  color: white;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  color: #1363de;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  /* background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #4b79a1 0%,
    #c0c0c0 100.2%
  ); */
  background-color: whitesmoke;
  color: #28b485;
  padding: 100px;
  padding-bottom: 200px;
}

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  padding-top: 5rem;
  padding-left: 15rem;
  padding-right: 4rem;
}

.about-us-p {
  font-family: "Montserrat";
  font-weight: 400;
  color: black;
  font-size: 1.5rem;
  padding-top: 60px;
}

.contact-heading {
  margin-top: 7rem;
  font-weight: 900;
  font-size: 2rem;
  color: #28b485;
}

#contactForm {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

/* Footer */

#footer {
  background-color: whitesmoke;
  padding-top: 20px;
}

.social-icon {
  color: black;
  margin: 20px 10px;
}

.footer-info {
  padding-bottom: 5px;
}

.footer-cc {
  /* padding-top: 30px; */
  color: black;
  padding-bottom: 1rem;
}

/* Media */

@media (max-width: 1028px) {
  .title-image {
    width: 200%;
    /* padding-top: 35px;
    margin-left: 30px;
    margin-bottom: 15px;
    text-align: center; */
    padding-top: 40px;
  }

  #title {
    text-align: center;
  }

  .testimonial-image {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  .big-heading {
    font-size: 2rem;
    text-align: center;
  }
}
